# бинари (собираются из исходников)
aceapex
aceapex_depth*
aceapex_dl
aceapex_enc
aceapex_main*
e2e_dense
e2e_pipe*
e2e_seek
v7ra
v7ra_test
gpu_hash_finder*
gpu_sa_*
method_a_encode
off_delta_analyze
tile_*_smoke*
Q4
# временные/тестовые
*.aet
streams.bin
*_test
*.o
